* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: #0093E9;
  background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.ToDoWrapper {
  /* From https://css.glass */
  background: rgba(24, 24, 24, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(24, 24, 24, 0.3);

  padding: 2;
}

.ToDoForm { width: 100%; }

.ToDoInput {
  outline: none;
  background: none;
  border: 1px solid #80D0C7;
  padding: 1rem;
  color: #181818;
}

.ToDoInput::placeholder { color: #1818182B; }

.ToDoBtn { 
  background: #80D0C7;
  color: #181818;
  border: none;
  cursor: pointer;
}

.ToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #80D0C7;
  border-radius: 5px;
  cursor: pointer;
}